@import '~antd/dist/antd.css';
.App {
  text-align: center;
}
.ant-tabs-tab{
  width:50% !important;
  flex-basis: 50% !important;
  background-color: #010101 !important;
}
.ant-tabs-tab-active{
  background-color: #363636 !important;
}
.ant-tabs-tab-btn{
  color: #fff !important;
  font-weight: 900;
}
.ant-tabs-nav-list{
  width: 102%;
}
.ant-input-number-lg{
  width: 100% !important;
}
.ant-input-number{
  width: 100% !important;
}
.ant-col-offset-2{
  margin-top: 90px;
  /* border: 2px solid #363636 ; */
  /* border-radius: 6px; */
}
.ant-col-offset-2 div{
  border-radius: 6px;
}
.ant-tabs-card{
  border: 2px solid #363636 ;
}
.ant-tabs-tab{
  border: none !important;
}
.ant-tabs-ink-bar{
  display: none !important;
} 
/* .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn{
  color: #FFFFFF !important;
} */
/* .ant-tabs-tab-btn{
  color: #FFFFFF !important;
} */
button.nav-link{
  width: 50% !important;
  background-color: #010101 !important;
}
button.active{
  background-color: #363636 !important;
  border: none !important;
  color: white !important;
}
.nav-tabs{
  border-bottom: none !important;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
